manifest {
    name = 'Annotation of unclassified TEs'
    author = 'Wenbo Xu; Mahesh Binzer-Panchal'
    homePage = ''
    description = """In recently sequenced non-model organisms, repeat discovery tools often fail
    to classify a large portion of their repeats. These unclassified repeats can be host genes
    that were duplicated or TEs that are just not present in the databases. It is misleading if
    host genes are included in TE analyses.

    RepeatDefeaters provides a transparent set of rules on what should be considered host or TEs.
    A critical task during repeat discovery is to accurately annotate transposable elements (TEs),
    which can be challenging for new organisms. RepeatDefeaters aims to provide an easy-to-follow
    guide on how to tackle these sequences, that are difficult to classify automatically."""
    mainScript = 'main.nf'
    // Update nextflowVersion to determine which versions of nextflow can be used.
    // '!>=21.04.0' : Only run with version 21.04.0 or higher, otherwise exit.
    nextflowVersion = '!>=21.04.0'
    version = '1.0'
}

// Default Workflow parameters
// Override parameters in a params.config or as command line parameters to the workflow.
params {

    // Workflow inputs
    // Repeat modeler library
    repeat_modeler_fasta = ''
    // Species short name for renaming sequences
    species_short_name = ''

    // Workflow outputs
    // Results directory
    results = 'results'
    // Mode of copying results from the work directory
    // 'symlink' : Use for test data.
    // 'copy'    : Use for full analysis data.
    publish_mode = 'symlink' // values: 'symlink', 'copy'

    // Workflow assets
    // protein reference - "conc_sprot.fa" is a concatenation of the swiss-prot library and protein sequences of other related species in uniprot.
    protein_reference = ""
    // Path to key words (Describes PFAM entries with TE domains)
    transposon_keywords = "$baseDir/configs/pfam_te_domain_keywords.txt"
    // Path to PFAM accession list of proteins with TE domains (skips PFAM_TRANSPOSIBLE_ELEMENT_SEARCH process)
    pfam_proteins_with_te_domain_list = ''
    // pfam_proteins_with_te_domain_list = "$baseDir/configs/Pfam.TE.accessions_Release32"
    // PFAM database path
    pfam_release_path = 'ftp://ftp.ebi.ac.uk/pub/databases/Pfam/releases/Pfam32.0/'
    // PFAM HMM database path
    pfam_hmm_db  = "${pfam_release_path}/Pfam-A.hmm.gz"
    pfam_hmm_dat = "${pfam_release_path}/Pfam-A.hmm.dat.gz"
    // PFAM-A database path
    pfam_a_db = "${pfam_release_path}/Pfam-A.full.uniprot.gz"
    // TREP database path
    trep_db = 'http://botserv2.uzh.ch/kelldata/trep-db/downloads/trep-db_nr_Rel-19.fasta.gz'

    // Workflow package manager configuration
    // Use conda instead of containers
    enable_conda = false
    // When using singularity, construct image from a docker image
    singularity_pull_docker_container = false

    // Uppmax cluster configuration
    // UPPMAX project - Needed only when running on an UPPMAX cluster
    project = ''
    // Convenience for adding additional cluster options to UPPMAX
    clusterOptions = ''
}

includeConfig "$baseDir/configs/modules.config"

profiles {

    // A custom profile for the Uppmax clusters
    uppmax {
        process {
            executor = 'slurm'
            clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
            // Use node local storage for execution.
            scratch = '$SNIC_TMP'
        }
        // Specify resources to use.
        includeConfig "$baseDir/configs/compute_resources.config"
        // Specify singularity containers to use.
        singularity.enabled = true
        singularity.envWhitelist = 'SNIC_TMP'
    }

    // A profile for running locally with Docker
    docker_local {
        process {
            executor = 'local'
            scratch = true
        }
        includeConfig "$baseDir/configs/compute_resources.config"
        docker.enabled = true
        docker.userEmulation = true
    }

    // A profile for running locally with Singularity
    // (e.g., using an interactive Uppmax session)
    singularity_local {
        process {
            executor = 'local'
            scratch = '$SNIC_TMP'
        }
        includeConfig "$baseDir/configs/compute_resources.config"
        singularity.enabled = true
        singularity.envWhitelist = 'SNIC_TMP'
   }

}
