process {

    // Default settings for all processes
    shell = ['/usr/bin/env bash', '-euo', 'pipefail']
    cpus = 1
    time = '1h'

    // Override defaults with process specific settings.
    withName: 'RENAME_REPEAT_MODELER_SEQUENCES' {
        cpus = 1
        time = '1h'
    }
    withName: 'PFAM_TRANSPOSIBLE_ELEMENT_SEARCH' {
        cpus = 1
        time = '6h'
    }
    withName: 'MAKEBLASTDB' {
        cpus = 1
        time = '1h'
    }
    withName: 'BLASTX' {
        cpus = 4
        time = '1d'
    }
    withName: 'PFAM_SCAN' {
        cpus = 4
        time = '1d'
    }
    withName: 'ANNOTATION' {
        cpus = 1
        time = '1h'
    }
}
