process {

    // Default settings for all processes
    cpus = 1
    time = '1h'

    // Override defaults with process specific settings.
    withName: 'BLASTX_AND_FILTER' {
        cpus = 4
    }
    withName: 'PFAM_SCAN' {
        cpus = 4
    }
    withName: 'CUSTOM_HMM_SCAN' {
        cpus = 4
    }
    withName: 'TREP_BLASTN' {
        cpus = 8
    }
}
