params {
    modules {
        'blast_postive_strand' {
            args = '-max_target_seqs 1 -outfmt 14 -evalue 1e-10 -strand plus'
        }
        'blast_negative_strand' {
            args = '-max_target_seqs 1 -outfmt 14 -evalue 1e-10 -strand minus'
        }
        'pfam_scan' {
            args = 'pfam_scan.pl -e_seq 0.001'
        }
    }
}
